* {
    margin: 0%;
    padding: 0%;
}

body {
    background-repeat: no-repeat;
    height: 100vh;
}

.bg img {
    width: 100%;
    height: 45.8vw;
}

.headerText p {
    font-family: 'Niconne', cursive;
    color: #01102b;
    margin-top: 10%;
    margin-left: 15%;
    position: absolute;
    font-size: 10vw;
}

.normalText p {
    font-family: 'Itim', cursive;
    color: #110f2c;
    width: 45%;
    margin-top: 22%;
    margin-left: 15%;
    position: absolute;
    font-size: 1.5vw;
    text-align: justify;
}

.btn {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Itim', cursive;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: absolute;
    margin-top: 32%;
    margin-left: 17%;
}

.btn1 {
    color: #3498db;
}

.btn1:hover {
    color: #fff;
    background: #3498db;
}

span {
    color: #3498db;
    font-size: 1vw;
}


/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::selection {
    background: rgb(0, 123, 255, 0.3);
}

.content {
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

.navbar.sticky {
    background: #1b1b1b;
    padding: 10px 0;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: rgb(0, 0, 0);
    font-size: 3vw;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #007bff;
}

.banner {
    background: url("banner.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.icon {
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }
    .icon {
        display: block;
    }
    .icon.hide {
        display: none;
    }
    .navbar .menu-list {
        position: fixed;
        height: 20vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: rgb(255, 254, 254);
        transition: all 0.3s ease;
        border: solid 1px;
    }
    .navbar.show .menu-list {
        left: 0%;
    }
    .navbar .menu-list li {
        margin-top: 45px;
    }
    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
}

@media (max-width: 380px) {
    .navbar .logo a {
        font-size: 27px;
    }
}

.container{
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 53.7%;
    margin: 0 auto;
    margin-top: 3%;
}

.container h1{
    margin-top: 0.5rem;
    color:rgb(16, 2, 78);
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 1.5rem;
}

.container h2{
    margin-left: 1.5rem;
    color: rgb(16, 2, 78);
    font-size: 1.3rem;
    font-weight: 400;
}

.container2{
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 53.7%;
    margin: 0 auto;
    margin-top: 20%;
}

.container2 h1{
    margin-top: 0.5rem;
    color:#fff;
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 82%;
}

.container2 h2{
    margin-left: 81%;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
}
.image{
    margin-top: 1rem;
    margin-left: 1.5rem;

}
.image2{
    margin-top: 1rem;
    margin-left: 83%;

}
.image img{
    border-radius: 50%;
    width: 14vw;
    height: 13vw;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
.image2 img{
    border-radius: 50%;
    width: 14vw;
    height: 13vw;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

p{
    width: 50vw;
    font-size: 1.5rem;
    color: rgb(16, 2, 78);
    line-height: 1.8rem;
    text-align: justify;
    margin-left: 25%;
    margin-top: -15vw;
}

.container2 p{
    width: 50vw;
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.8rem;
    text-align: justify;
    margin-left: 18%;
    margin-top: -8vw;
}
